.right-sidebar {
  border-left: 1px solid #38444d;
}

.trending {
  background-color: rgb(25, 39, 52) !important;
  color: #fff;
}

.trending:hover {
  opacity: 0.9;
  color: #fff;
}

.follow-btn {
  border: solid 1px #1da1f2;
  background: none;
  color: #1da1f2;
  transition: all 0.3s ease-in-out;
}

.follow-btn:hover {
  background: rgba(29, 160, 242, 0.194);
}
