.search-input {
  width: 90%;
}

.search-results {
  position: absolute;
  top: 110%;
  z-index: 9999;
  width: 100%;
  height: 30vh;
  overflow-y: auto;
  background: rgb(25, 39, 52);
  transform: scale(0);
  transform-origin: top center;
  transition: all 0.2s linear;
}

.show {
  transform: scale(1);
}
